* {
  box-sizing: border-box;
}

body {
  background: rgb(275,275,275);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(255,255,255);
}

div {
  display: block;
}

div .entries-calc{
  background: rgb(58,58,60);
  margin: 15px;
  width: 365px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-image: initial;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}

div .entries-calc-inner {
  padding: 30px;
  display: inline-block;
  background-color: transparent;
  width: 100%;
  text-align: left;

}

tr {
  font-size: 14px;
}

h3.title {
  font-weight: normal;
  margin-block-start: 0em;
}

h5.warn {
  color: 221,221,222;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

input {
  font-family: Inconsolata, monospace;
  background-color: rgb(209,209,214);
  border: 1px solid rgb(209,209,214);
  border-radius:2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-left: 20px;
  font-size: 14px;
}

input:hover {
  background-color: rgb(229,229,234);
  border: 1px solid rgb(229,229,234);
}

.portfolioheader {
  font-size: 14px;
  margin-bottom: 20px;
}

.portfolioinput {
  width: 60px;
}

.risk {
  margin-left: 10px;
}

.riskinput {
  width: 40px;

}