body {
  background: rgb(255,255,255);
  font-family: Trebuchet MS,roboto,ubuntu,sans-serif;
  color: #131722;
}

div {
  display: block;
}

div .entries-calc{
  margin: 1em;
  margin-right: 25em;
  max-width: 100%;
}

div .entries-calc-inner {
  border: 1px solid black;
  padding: 10px;
}

tr {
  font-size: 14px;
}